openapi: 3.0.3
info:
  version: 1.1.0
  title: IO CGN DPGSCU API
  contact:
    name: IO team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description: >
    Documentation of the IO CGN DPGSCU API.
servers:
  - url: https://api.cd.italia.it/api/cgn/v1
security:
  - SubscriptionKey: []
paths:
  "/activation":
    post:
      operationId: startCgnActivation
      summary: |
        Start a new CGN activation process passing the user's fiscal code in body
      description: |
        Start the activation process for a CGN
      requestBody:
        description: The body must contain the user's fiscal code
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FiscalCodePayload"
      responses:
        "201":
          description: Request created.
        "202":
          description: Processing request.
        "401":
          description: Wrong or missing subscription key.
        "403":
          description: Forbidden.
        "409":
          description: |
            Cannot start a new activation because the user's cgn is already activated
        "500":
          description: Service unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
components:
  securitySchemes:
    SubscriptionKey:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
      description: The subscription key to access the API.
  schemas:
    FiscalCodePayload:
      type: object
      properties:
        fiscal_code:
          $ref: '#/components/schemas/FiscalCode'
      required:
        - fiscal_code
      example: | 
        {
          "fiscal_code": "AAABBB00C00D000E"
        }
    FiscalCode:
      type: string
      description: User's fiscal code.
      format: FiscalCode
      x-import: '@pagopa/ts-commons/lib/strings'
      example: AAABBB00C00D000E
    HttpStatusCode:
      type: integer
      format: int32
      description: |-
        The HTTP status code generated by the origin server for this occurrence
        of the problem.
      minimum: 100
      maximum: 600
      exclusiveMaximum: true
      example: 200
    ProblemJson:
      type: object
      properties:
        type:
          type: string
          format: uri
          description: |-
            An absolute URI that identifies the problem type. When dereferenced,
            it SHOULD provide human-readable documentation for the problem type
            (e.g., using HTML).
          default: about:blank
          example: https://example.com/problem/constraint-violation
        title:
          type: string
          description: |-
            A short, summary of the problem type. Written in english and readable
            for engineers (usually not suited for non technical stakeholders and
            not localized); example: Service Unavailable
        status:
          $ref: "#/components/schemas/HttpStatusCode"
        detail:
          type: string
          description: |-
            A human readable explanation specific to this occurrence of the
            problem.
          example: There was an error processing the request
        instance:
          type: string
          format: uri
          description: |-
            An absolute URI that identifies the specific occurrence of the problem.
            It may or may not yield further information if dereferenced.
