name: Deploy Function App (card-func)

on:
  workflow_dispatch: {}
  push:
    branches:
      - master
    paths:
      - "apps/card-func/CHANGELOG.md"
      - ".github/workflows/deploy-card-func.yaml"

jobs:
  deploy:
    name: Deploy Card Func
    uses: pagopa/dx/.github/workflows/release-azure-appsvc-v1.yaml@d187d7667ee20d93cb588e06d7ab194ece3de911
    secrets: inherit
    with:
      workspace_name: card-func
      environment: io-app-prod
      resource_group_name: io-p-itn-cgn-rg-01
      web_app_name: io-p-itn-cgn-card-func-02
      use_labels: true
      use_private_agent: true
      override_labels: io-prod
      disable_auto_staging_deploy: true
    permissions:
      attestations: write
      contents: read
      id-token: write