name: Deploy App Service (attribute-authority-ms)

on:
  workflow_dispatch: {}
  push:
    branches:
      - master
    paths:
      - "apps/attribute-authority-ms/CHANGELOG.md"
      - ".github/workflows/deploy-attribute-authority-ms.yaml"

jobs:

  deploy_uat:
    name: Deploy Attribute Authority UAT
    uses: ./.github/workflows/node_web_app_deploy.yaml
    secrets: inherit
    with:
      workspace_name: attribute-authority-ms
      environment: uat
      resource_group_name: io-u-itn-cgn-pe-rg-01
      web_app_name: io-u-itn-cgn-pe-attribute-authority-app-01
      use_staging_slot: true
      use_private_agent: true
      use_labels: true

  deploy_prod:
    needs: deploy_uat
    name: Deploy Attribute Authority PROD
    uses: ./.github/workflows/node_web_app_deploy.yaml
    secrets: inherit
    with:
      workspace_name: attribute-authority-ms
      environment: prod
      resource_group_name: io-p-itn-cgn-pe-rg-01
      web_app_name: io-p-itn-cgn-pe-attribute-authority-app-01
      use_staging_slot: true
      use_private_agent: true
      use_labels: true